# npm
node_modules
package-lock.json # do include this, include for apps, exclude for libs, templates ignore copying over this file

# app
apps/*

# tests
coverage

# compressed files
*.tgz

# Log files
npm-debug.log*

# apple stuff
.DS_Store

# Editor directories and files
.idea
.vscode
